# Others that may need to be added in the future
#ACTION=="add" SUBSYSTEM=="module" KERNEL=="fuse" RUN+="/var/multiverse/fuse-log.sh"

# Active Requirements 
###############################################################################
# Grant /dev/vfio ownership to root:libvirt
SUBSYSTEM=="vfio" MODE="0660" OWNER="root" GROUP="kvm" 
# Grant /dev/tmp* ownership to root:kvm 
KERNEL=="tpmrm[0-9]*|tpm[0-9]*" MODE="0660" OWNER="root" GROUP="kvm"


